
# dependencies
/node_modules
/.pnp
.pnp.js
/src/assets/photos/3x4.jpg
/src/assets/photos/about_me_photo.jpg
/src/assets/photos/enactus-semi-finalist.jpg
/public/assets/photos/mediproject.png

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
